.tag-wrap {
  // padding: 0.2rem 0.3rem;
  padding-left: 0;
  // margin-right: 0.3rem;
  // background: #fff7e6;
  border-radius: 5px;
  font-size: 0.7rem;
  color: $secondary-text-color;
  // border: 1px solid #ffd591;
  transition: all 0.3s ease-in;
  // &:hover {
  //   background: black;
  // }
}
