@font-face {
  font-family: 'iconfont'; /* Project id 2865852 */
  src: url('iconfont.woff2?t=1634119342131') format('woff2'), url('iconfont.woff?t=1634119342131') format('woff'),
    url('iconfont.ttf?t=1634119342131') format('truetype');
}

.iconfont {
  font-size: 16px;
  font-family: 'iconfont' !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-caidan::before {
  content: '\e790';
}

.icon-sousuo::before {
  content: '\e600';
}
