$white: #fff !default;
$color-primary: #d95736;
$color-primary-active: #bf4526;
$color-background-main: #fff;
$color-background-secondary: #f7f8fa;
$color-background-contrast: #e1e3e6;
$color-background-overlay: rgba(37, 40, 43, 0.9);
$color-content-lead: #000;
$color-content-main: #222426;
$color-content-secondary: #73777d;

$primary-accent-color: #15171a;
$primary-text-color: #5a656b;
$secondary-text-color: #aaa;

$page-mobile-padding: 1.4rem;
$page-inner-width: calc(45rem + 8vw);
