// .not-found {
//   background-color: #f0f2f5;
//   height: 100%;
//   .right {
//     padding-left: 50px;
//     margin-top: 150px;
//     h1 {
//       font-size: 35px;
//     }
//     h2 {
//       margin-bottom: 20px;
//       font-size: 20px;
//     }
//   }
// }

button {
  font-family: 'Nunito Sans';
}
svg {
  width: 80%;
  visibility: visible;
}
h1 {
  font-size: 7.5em;
  margin: 15px 0px;
  font-weight: bold;
}
h2 {
  font-weight: bold;
}
