.article-wrap {
  .inner {
    max-width: calc(45rem + 8vw);
    margin: 0 auto;
    padding: 0 8rem;

    .article {
      padding: calc(1.8em + 2vw) 0;
      border-bottom: 1px solid $color-background-contrast;

      .article-title {
        position: relative;
        z-index: 1;
        margin: 0 0 0.6em;
        color: $color-content-lead;
        font-weight: 700;
        font-size: 1.6rem;
        line-height: 1.25em;
        text-indent: -1px;
      }

      .article-meta {
        color: $color-content-secondary;
        font-weight: 400;
        font-size: 0.8rem;
        line-height: 1.5rem;
      }

      .article-excerpt {
        margin: 0.6em 0 0;
        font-size: 1rem;
        // font-family: $font-secondary;
        line-height: 1.8em;
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .article-wrap .inner {
    padding: 0 $page-mobile-padding;
  }
}
