.home-wrap {
  // padding: 1rem 0;
  // box-sizing: border-box;
}
.homePage {
  min-height: calc(100vh - 40px - 36.7px);
  overflow: hidden;
  padding: 1rem;
}

.MuiTabs-indicator {
  display: none;
}

.info-margin {
  text-align: center;
  margin: 2rem 0;
  color: #5a656b;
}
.loadMore {
  border: 1px solid #aaa;
  padding: 0.6em 0.8em;
  color: #aaa;
  border-radius: 5px;
  font-size: 0.8rem;
}
